---
import Layout from '../layouts/Layout.astro';
import WhiskersImage from '../assets/images/whiskers.jpg';
import AlexWillImage from '../assets/images/alex_william_horn_profile.jpg';
import { Image } from 'astro:assets';
---
<Layout title="Alexander Horn">
    <main>
        <div class="about-me">
            <h1>Hi, I'm Alex Horn!</h1>

            <h2>This is my myself, my brother, William, and our cat, Whiskers.</h2>
        </div>

        <Image class="me" src={ AlexWillImage } alt="Alex and William"/>
        <Image class="cat" src={ WhiskersImage } alt="Whiskers"/>
    </main>
</Layout>

<style lang="scss">
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        overflow: auto;
    }

    .about-me {
        font-size: 24px;
        text-align: center;
    }

    img {
        width: 100%;
        max-width: 400px;
        border-radius: 50%;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }
    }

</style>
